input{
 margin: 1vh auto 0 auto;
}


.photo-button{
 display: flex;
 margin: 1vh auto 2vh auto;
}
.ImageOTD{
 max-width: 50vw;
 max-height: 40vh;
}

.description-title{
 font-weight: 700;
 font-size: 2rem;
}
.photo-description{
 display: flex;
 color: white;
 background-color: rgba(0, 0, 0, 0.69);
 width: 30vw;
 margin: 5vh auto;

}


@media only screen and (max-width: 480px){
 .description-title{
  font-size: 1.5rem;
 }
 .photo-description{
   width: 80vw;
 }
}