.potdContainer {
  min-height: 100vh;
  display: flex;
  max-width: 100vw;
  padding-top: 28vh;
  justify-content: space-evenly;
}

.date-select{
  font-weight: 700;
  width: 50vw;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-button{
  margin: 5% auto;
  display: flex;
}

.potd{
  border: 15px solid black;
  background-color: white;
  box-shadow: -3px -3px 40px rgba(255, 255, 255, 0.359),
  3px 3px 40px rgba(255, 255, 255, 0.359);
  position: relative;
  aspect-ratio: 14 / 16;
  max-width: 100%;
  height: 65vh;
  overflow: hidden;
}
.votd{
  border: 15px solid black;
    background-color: white;
    box-shadow: -3px -3px 40px rgba(255, 255, 255, 0.359),
      3px 3px 40px rgba(255, 255, 255, 0.359);
    position: relative;
    aspect-ratio: 16 / 16;
    max-width: 100%;
    height: 65vh;
    overflow: hidden;
}

.potd-text{
  font-size: 70%;
}
.potd-span{
  display: block;
  font-size: 2.5rem;
  white-space: nowrap;
}
.ImageOTD{
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}
.videoOTD{
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}

.descriptionContainer {
  color: white;
  width: 50vw;
  aspect-ratio: 16 / 16;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  font-weight: 700;

}

.descriptionWrapper{
  background-color: rgba(21, 20, 20, 0.804);
    box-shadow: -3px -3px 40px rgba(255, 255, 255, 0.359),
        3px 3px 40px rgba(255, 255, 255, 0.359);
  display: flex;
  flex-direction: column;
  align-self: center;
  max-height: 60vh;
  aspect-ratio: 14/16;
  padding: 8%;
  padding-bottom: 0;
  margin-top: 5vh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.descriptionTitle{
  font-size: 1.5vw;
  white-space: nowrap;
}




@media only screen and (max-width: 980px){
  .date-select{
    width: 100vw;
  }
  .potd-text {
    font-size: 1rem;
  }
  .potd-span {
    font-size: 80%;
  }
  .potdContainer{
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .potd {
    border: 15px solid black;
    background-color: white;
    position: relative;
    aspect-ratio: 1/1;
    width: 80vw;
    max-height: 60vh;
    overflow: hidden;
  }

  .votd {
    border: 15px solid black;
    background-color: white;
    position: relative;
    aspect-ratio: 16 / 16;
    width: 80vw;
    height: 50vh;
    overflow: hidden;
  }
  .descriptionContainer{
    width: 100%;
    text-align: center; 
  }

  .descriptionWrapper{
    margin-bottom: 20vh;
    height: 60vh;
    width: 80vw;
    aspect-ratio: 16/16;
  }

  .descriptionTitle{
    font-size: 5vw;
    
  }
}