.footerContainer{
 background-color: black;
 padding: 3%;
 font-size: 1.5rem;
 font-weight: 700;
 color: white;
}

.codieCredit {
 display: flex;
 justify-content: center;
 white-space: nowrap;
}

.iconCredit {
 display: flex;
 justify-content: center;
 color: white;
 white-space: nowrap;
}

a {
 display: flex;
 justify-content: center;
 text-decoration: none;
 padding: 0 .5%;
 text-decoration: none;
 color: blue;
}

a:hover {
 text-decoration: underline;
 color: red;
}

a:visited{
 text-decoration: none;
}